.postbox {
    height: 262px;
    .post_desp {
        padding-top: 120px;
        color: #fff;
        font-weight: bold;
        .post_views {
            margin-left: 12px;
        }
        .post_title {
            padding: 2px 6px;
            border-radius: 3px;
        }
    }
}

@media (max-width: 480px) {
    .postbox {
        .post_desp {
            width: 80%;
            margin: auto;
            padding-top: 150px;
        }
}
}