$header_links_color: #767676;
$header_links_backgroundColor: #1A0F37;

.header_links {
    background-color: $header_links_backgroundColor;
    color: $header_links_color;
    padding: 14px 0px;
    font-size: 12px;

    .header_items {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    .social {
        padding: 0px 12px;
    }
    .signin {
        position: absolute;
        right: 0;
     }
     .signin_btn {
        padding-left: 5px;
    }   
}
// .social_icons {
//     display: inline-flex;
//     justify-content: space-between;
//     width: 7%;
//     position: absolute;
//     right: 120px;
//     top: 2px;
// }
.row{
    margin: 0;
}

.navbar-light{
    .navbar-nav {
        .nav-link {
            color: black;
            font-weight: initial;
             padding: 27px 10px;
        }
    }
}

.navbar {
    padding: 0px 0px;
}

.navbar-light{
    .navbar-nav {
        .highlight{
        .nav-link {
            color: #fff;
            background-color: #1A0F37;         
        }
    }
}
}
.search {
    cursor: pointer;
}